.container-vitrine {
    display: grid;
    gap: 1.5rem; /* Espaço entre os cards */
    justify-items: center; /* Centraliza os cards no espaço deles */
}

/* 2. REGRA PARA A TELA PEQUENA (Menos de 1200px) */
@media (max-width: 1024px) {
    
    /* A foto grande some */
    .imagem-produto {
        display: none !important;
    }

    
    /* Opcional: Se a tela ficar muito pequena (celular), colocamos 1 por linha para não espremer */

}
@media (max-width: 550px) {
    .container-vitrine {
        grid-template-columns: 1fr !important;
    }
}   
