body{
    padding-top: 20dvh;
}

.form{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    border: none;
}

footer{
    position: fixed;
    bottom: 0;
}

@media (min-width: 1024px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}