@font-face {
    font-family: 'Bainsley'; 
    src: url('../assets/bainsley/Bainsley_Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bainsley'; 
    src: url('../assets/bainsley/Bainsley_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bainsley'; 
    src: url('../assets/bainsley/Bainsley_Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bainsley'; 
    src: url('../assets/bainsley/Bainsley_Bold_Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

:root{
    --primary: #F4D6F8;
    --secundary: #F8F3D6;
    --tertiary: #D5F8F2;
    --primary2: #DE97F2;
    --secundary2: #F2DE97;
    --tertiary2: #63d0d9;
}

.bg-purple{
    background-color: var(--primary);
}

.bg-purple-transparent {
    background-color: #f4d6f8c7; 
    backdrop-filter: blur(8px);
}

.bg-yellow{
    background-color: var(--secundary);
}

.bg-green{
    background-color: var(--tertiary);
}

.bg-purple2{
    background-color: var(--primary2);
}

.bg-yellow2{
    background-color: var(--secundary2);
}

.bg-green2{
    background-color: var(--tertiary2);
}

.text-purple{
    color: var(--primary);
}

.text-yellow{
    color: var(--secundary);
}

.text-green{
    color: var(--tertiary);
}

.text-purple2{
    color: var(--primary2);
}

.text-yellow2{
    color: var(--secundary2);
}

.text-green2{
    color: var(--tertiary2);
}

.border-yellow {
    border-color: var(--secundary) !important;
}

.border-green {
    border-color: var(--tertiary) !important;
}

.border-purple2 {
    border-color: var(--primary2) !important;
}

body{
    background-color: #fffef7;
    font-family: 'Bainsley', sans-serif;
}

ul li.rounded-pill {
    transition: transform 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;

}

nav ul li.rounded-pill:hover {
    transform: scale(1.05);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.11);
}

nav ul li a {
    transition: color 0.5s ease-in-out;
}

ul li a:hover:not(.text-white) {
    color: var(--tertiary2) !important;
}